html.__ROOT__ .ll\:border-white\/50,
html.__ROOT__ .ll\:border-gray-400,
html.__ROOT__ .ll\:border-purple-900\/50 {
  border-color:#1f94b8!important;
  border-radius:3px!important;
}
html.__ROOT__ .ll\:bg-black\/50,
html.__ROOT__ .ll\:bg-black,
html.__ROOT__ .ll\:bg-black\/0,
html.__ROOT__ .ll\:bg-black\/25,
html.__ROOT__ .ll\:bg-gray-400\/30,
html.__ROOT__ .ll\:bg-black\/75 {
  background-color:rgba(0,20,28,.95)!important;
}
html.__ROOT__ .ll\:data-\[state\=active\]\:bg-purple-500\/40[data-state=active],
html.__ROOT__ .ll\:data-\[state\=checked\]\:bg-purple-500\/80[data-state=checked] {
  background-color:#0b6079!important;
}
html.__ROOT__ .ll\:bg-purple-950\/40 {background-color:#082738!important}
html.__ROOT__ .ll\:bg-purple-500 {background-color:#1692b3!important}
